[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deriva"]
	path = deriva
	url = https://github.com/bonijoao/deriva
[submodule "figsr"]
	path = figsr
	url = https://github.com/bonijoao/figsr
[submodule "tidyprf"]
	path = tidyprf
	url = https://github.com/bonijoao/tidyprf
